<div id="<%= dom_id account_group %>">
  <p>
    <strong>User:</strong>
    <%= account_group.user_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= account_group.name %>
  </p>
  <p>
    <strong>Order:</strong>
    <%= account_group.order %>
  </p>
  <p>
    <strong>Enable:</strong>
    <%= account_group.enable %>
  </p>
</div>
