<tr id="<%= dom_id account_group %>">
  <td>
    <%= button_to '↑', up_account_group_path(account_group), method: :patch unless first %>
    <br>
    <%= button_to '↓', down_account_group_path(account_group), method: :patch unless last %>
  </td>
  <td>
    <%= form_with(model: account_group, id: dom_id(account_group, 'form')) do |form| %>
      <%= form.text_field :name %>
    <% end %>
  </td>
  <td>
    <%= account_group.accounts.count %>
  </td>
  <td>
    <button type="submit" form="<%= dom_id account_group, 'form' %>">수정</button>
    <%= button_to '삭제', account_group, disabled: !account_group.accounts.blank?, form: {
      data: {
        turbo_confirm: '삭제하시겠습니까?'
      }
    }, method: :delete %>
  </td>
</tr>
