<p style="color: green"><%= notice %></p>
<%= render @account_group %>
<div>
  <%= link_to 'Edit this account group', edit_account_group_path(@account_group) %> |
  <%= link_to 'Back to account groups', account_groups_path %>
  <%= button_to 'Destroy this account group', @account_group, method: :delete %>
</div>
