<div id="<%= dom_id account %>">
  <p>
    <strong>User:</strong>
    <%= account.user_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>
  <p>
    <strong>Account group:</strong>
    <%= account.account_group_id %>
  </p>
  <p>
    <strong>Order:</strong>
    <%= account.order %>
  </p>
  <p>
    <strong>Enable:</strong>
    <%= account.enable %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= account.start_date %>
  </p>
  <p>
    <strong>Start balance:</strong>
    <%= account.start_balance %>
  </p>
  <p>
    <strong>Account type:</strong>
    <%= account.account_type %>
  </p>
  <p>
    <strong>Include:</strong>
    <%= account.include %>
  </p>
  <p>
    <strong>Income:</strong>
    <%= account.income %>
  </p>
  <p>
    <strong>Expense:</strong>
    <%= account.expense %>
  </p>
  <p>
    <strong>Memo:</strong>
    <%= account.memo %>
  </p>
</div>
