<tr id="<%= dom_id account %>">
  <td>
    <%= button_to '↑', up_account_path(account), method: :patch unless first %>
    <br>
    <%= button_to '↓', down_account_path(account), method: :patch unless last %>
  </td>
  <td>
    <%= account.account_group.name %>
  </td>
  <td>
    <strong>
      <%= account.name %>
    </strong>
    <br>
    잔액시작일:
    <%= account.start_date.strftime('%F %H:%M') %>
    <br>
    시작잔액:
    <%= account.start_balance %>원
    <br>
    <%= '자산포함' if account.include %>
    <%= '수입사용' if account.income %>
    <%= '지출사용' if account.expense %>
    <p>
      <%= account.memo %>
    </p>
  </td>
  <td>
    <%= ['일반', '카드', '저축', '대출', '투자'][account.account_type.to_i] %>
  </td>
  <td>
    <%= button_to '수정', edit_account_path(account), method: :get %>
    <%= button_to '삭제', account, form: {
      data: {
        turbo_confirm: '삭제하시겠습니까?'
      }
    }, method: :delete %>
  </td>
</tr>
