<dialog data-account-group-target="dialog">
  <h1>자산그룹 관리</h1>
  <%= turbo_frame_tag 'account_groups' do %>
    <%= form_with(model: @account_group) do |form| %>
      <%= form.label :name, '자산그룹 이름' %>
      <%= form.text_field :name %>
      <%= form.submit '추가' %>
    <% end %>
    <table id="account_groups">
      <thead>
        <tr>
          <th>순서</th>
          <th>자산그룹 이름</th>
          <th>관리</th>
        </tr>
      </thead>
      <tbody>
        <% @account_groups.each_with_index do |account_group, i| %>
          <%= render account_group, first: i == 0, last: i == @account_groups.count - 1 %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <menu>
    <button type="button" data-action="account-group#dialogClose">닫기</button>
  </menu>
</dialog>
